<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/img/favcion.png" type="image/x-icon">
  <title>404</title>
</head>

<body>
  {{>header}}
  <img id="img404" src="/img/404.webp" alt="404 image">
  <p class="h-secondary">{{errorMessage}}</p>
  {{>footer}}
</body>

</html>