<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/img/favcion.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
  <title>Weather App | About</title>
</head>

<body>
  {{>header}}
  <p class="h-secondary">This weather web application was made using tech stacks like Node.js, handlebars, CSS, JavaScript etc.</p>
  <img id="abtImg" src="img/abt.jpg" alt="image">
  {{>footer}}
</body>

</html>